{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<header>
		{% include '/components/navbar.html.twig' %}
		<div class="w-full min-h-[25vw] max-h-[468px] bg-cover bg-center" style="background-image: url('/img/bg-header.png');"></div>
	</header>
	<main class="bg-gray-100">
		<section class="bg-gray-100">
			<h1 class="text-center font-[500] text-xl mt-12 mb-12">TOUS NOS PRODUITS</h1>
			{% include 'components/home/filters.html.twig' %}
			{% include 'components/home/mangaList.html.twig' %}
			{% include 'components/home/pagination.html.twig' %}
		</section>
	</main>
{% endblock %}
