{% extends 'base.html.twig' %}

{% block title %}login{% endblock %}

{% block body %}
   <form method="post" action="login">
       <input type="text" name="username" placeholder="username">
       <input type="text" name="password" placeholder="password">
       <input type="submit" value="Envoyer">
    </form>
{% endblock %}
