{% extends 'base.html.twig' %}
{% block title %}
	{{ manga.title }}
{% endblock %}

{% block script %}
	<script src="/js/singleManga.js" defer></script>
{% endblock %}

{% block body %}
	<a class="absolute bg-blue-500 rounded-lg pl-3 pr-3 pt-1 pb-1 text-white font-semibold top-2 left-2" href="/">Retour</a>
	<main class="flex items-center h-screen">
		<div class="flex flex-col justify-center items-center h-screen w-[40vw] bg-[#F6F6F6] p-16">
			<img class="min-h-[30vw] max-h-[600px]" src='{{ manga.image }}'><br>
		</div>
		{% include 'components/singleManga/mangaInfo.html.twig' %}
		{% include 'components/singleManga/adminEdit.html.twig' %}
	</main>
{% endblock %}
